<h1><%= @score.name %></h1>

<% if params[:hole]
  holes = [params[:hole]]
else
  holes = 1.upto(Rails.configuration.x.number_of_holes).to_a
end
%>
<% holes.each do |hole| %>
  <section>
  <% body = @score.holes[hole.to_s]['body'] %>
  <h2>Hole <%= hole %> <small class='text-muted'>Score: <%= body.chars.count %></small></h2>
  <code>
<%= body %>
  </code>
  </section>
<% end %>
